<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/user_viewalphabet">view alphabet</a></td>
  </tr>
  <tr>
    <td><a href="/user_attend_exam">attend exam</a></td>
  </tr>
  <tr>
    <td><a href="/view_mark">view marks</a></td>
  </tr>
  <tr>
    <td><a href="/user_view_feedback">view feedback</a></td>
  </tr>
  <tr>
    <td><a href="/user_feedback">send feedback</a></td>
  </tr>
</table>
</body>
</html>
